#skills {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .skills-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-container:hover {
    transform: scale(1.1);
  }
  
  .icon-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #7d888a;
  }
  
  .icon-container a:hover {
    color: #022a30;
  }
  
  .eicon-html5, .eicon-css3, .eicon-javascript, .eicon-python {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  
  .eicon-html5 {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA80lEQVR4nO2a4QqDMAyE82g+mo/mm91g62Arq01jujb1PvBP0UuPi0KJIh0BsOPFLpEBjUxG2EQAbGnz7+tIRo5sfRu90SeKBGoUE0KimwlNEY9EMIMRj3cENNIAE8Gg1oKR2WrIMkZKuIoNrCE0Ej0RGHobNLJyInAS8/5solWLRjKYiLVTskPP5ynva/1M/Apu+8KFgp2NqFgvkZxaAS2azVr0pNsDFR0a6ZVIq5AlEZzc75buaCNu0AiCJ2IBNPIDGJHJasgyRkq4ig2sIa1FOFYAE9Fxm9ZClBliDY+p7hSEmbPf5s+HHBqZjWUSkT/yAMepruqOSJJ3AAAAAElFTkSuQmCC")
  }