.icon-container {
    padding: 2px;
    float: left;
}
.eicon-html5 { 
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('data:image/svg+xml;base64,...') 50% 50% no-repeat;
    background-size: 100%;
    color: #7d888a; 
}
.eicon-html5:hover {
    color: #022a30;
}
